<div class="col-md-8">
	<section>
		<header>{{list.name}}</header>	
		<ul class="stories">
			<li class="story" ng-repeat="pice in list.news | orderBy:'$index':false">
				<article>
					<p>{{pice.content}} <small>by {{pice.author}} at <span class="date">{{pice.date | date:'medium'}}</span></small></p>
				</article>
			</li>
		</ul>
	</section>
	<section>
		<form ng-submit="newStory()">
			<input placeholder="Send new story" type="text" id="new-input" ng-model="story" required>
		</form>
	</section>
</div>

<div class="col-md-4">
	<section>
		<header>Subscribers of this list <small ng-click="quitList()"><i class="fa fa-close"></i>Quit list</small></header>
		<ul class="subscribers">
			<li ng-repeat="subscriber in list.subscribers">
				<article>
					<p>{{subscriber.email}}</p>
				</article>
			</li>
		</ul>
	</section>
</div>

